[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
channels = "*"
drf-spectacular = "*"
whitenoise = "*"
pillow = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.8"
